.SavedPhotos {
  display: flex;
  margin: 4rem auto;
  max-width: 30rem;
  border: 1px solid #ddd;
  border-bottom-width: 4px;
  border-top: 0;
  box-shadow: 0 -4px 0 #c1ef7f;
  padding: 1.5rem;
}

.SavedPhotos h2 {
  margin: 0 0 0.5rem;
  font-size: 1rem;
}

.SavedPhotos-breeds {
  flex-grow: 2;
}

.SavedPhotos-saved {
  flex-grow: 1;
}

.SavedPhotos-photos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.SavedPhotos-photos img {
  max-width: 80px;
  height: auto;
  margin-right: 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;
}
